@font-face {
    src: url('../../assets/segoeuib.ttf');
    font-family: 'segoeuib';
}

.Header {
    font-size: large;
    font-family: 'segoeuib';
    padding-top: 3em;
    padding-bottom: 4em;
    color: #4bb1df
}

.Todo {
    width: 83vw;
    font-size: max(20px, 1.5vw);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}