@font-face{
    src: url('../../assets/segoeuib.ttf');
    font-family: 'seguisb';
}

.Header {
    font-size: large;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 4em;
    color: #4bb1df

}