.Sidebar {
    width: 17vw;
    height: 100vh;
    box-shadow: 0.1px 0px 7px #9a9a9a;
    font-size: max(20px, 1.5vw);
    flex-direction: column;
}

.sidebar-block div:hover {
    color: #019ce4;
    transition: 0.3s;
    cursor: pointer;
}

#Logo {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#Logo img {
    margin: 45px;
    width: 62%;
}

.a,
.b,
.c,
.d {
    width: 15%;
    height: auto;
    padding-right: 10px;
}

.sidebar-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
    padding-left: 10%;
}

.list-block + .list-block {
    margin-top: 30px;
}

.list-footer{
    position: fixed;
    margin-bottom: 2%;
    bottom: 0;
}

.d{
    width: 25%;
    height: auto;
}