@font-face {
  src: url('../src/assets/segoeui.ttf');
  font-family: 'segoeui';
  src: url('../src/assets/segoeuib.ttf');
  font-family: 'segoeuib';
  src: url('../src/assets/seguisb.ttf');
  font-family: 'seguisb';
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height:  100%;
  -webkit-font-smoothin: antialiased;
  color: #9a9a9a;
}

body, input, button {
  font-family: 'seguisb', sans-serif;
}
#App {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (max-width: 1000px) {
  aside {
    display: none;
  }
  main {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  div.cesta {
    display: flex;
    justify-content: center;
  }
}