@font-face {
  font-family: 'segoeui';
  src: url('../src/assets/segoeui.ttf');
  font-family: 'segoeuib';
  src: url('../src/assets/segoeuib.ttf');
  font-family: 'seguisb';
  src: url('../src/assets/seguisb.ttf');
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'seguisb';
  color: #888888;
}